<div id="site-header">
  <header id="header">
    <div class="container">
      <div class="row">
        <div class="main-menu">
          <nav class="navbar navbar-default" id="mainNav" [ngClass]="{'navbar-transparent': !scrolled, 'navbar-scrolled': scrolled}">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="logo">
                <a class="navbar-brand js-scroll-trigger logo-header" href="#">
                  <img src="assets/images/logo.png" alt="">
                </a>
              </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#banner">Home</a></li>
                <li><a href="#about">Sobre Nosotros</a></li>
                <li><a href="#menu">Especial de Hoy</a></li>
                <li><a routerLink="/menus">Menus</a></li>
                <li><a href="#our_team">Equipo</a></li>
                <li><a href="#gallery">Galería</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#footer">Contactanos</a></li>

                @if (!usuarioLogueado) {
                  <li><a routerLink="/login">Iniciar sesión</a></li>
                } @else {
                  <li><a routerLink="/perfil">👤 {{ usuarioLogueado.nombre }}</a></li>
                  <li><a (click)="logout()">Cerrar sesión</a></li>
                }

              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>
